<footer>
	<div class="footer_sec">
		<div class="container">
      <app-footerlinks></app-footerlinks>
   
			
			
			<div class="social_right foot-social">
				<div class="ftr_menu">
					<a href="https://plus.google.com/+AirFreightBazaar" class="sc_ico" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/airfreightbazaar/" class="sc_ico" target="new"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="https://twitter.com/airfreightbazar" class="sc_ico" target="new"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="https://www.linkedin.com/in/airfreightbazaar" class="sc_ico" target="new"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				</div>
				<div class="apk"><a href="https://play.google.com/store/apps/details?id=com.afb.airfreightbazaar" target="new"><img src="assets/images/newPages/google_play.png" style="margin-top: 20px;" alt="APP Google Play Store"></a></div>
			</div>			
			</div>	 			
	
	</div>
</footer>
<div class="copyright_text">
  Copyright © 2017, Air Freight Bazaar Pvt Ltd.
</div>
