<section id="testimonials">
    <div class="container">
    <div class="row">
              <div class="col-md-3 testimonials-bg" data-wow-delay="0.2s">
                 <div class="col-md-12 tab_bg "> 
                  <h1 data-ix="scroll-fade-from-right" style="transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, opacity 350ms, transform 350ms; opacity: 1; transform: translateX(0px) translateY(0px);">What</h1>
                  <h2 data-ix="scroll-fade-from-left" style="transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, opacity 350ms, transform 350ms; opacity: 1; transform: translateX(0px) translateY(0px);">We do?</h2>
                </div>  
              </div>
                        <div class="col-md-9 sub-page-content" data-wow-delay="0.2s">
                <p>&nbsp; </p>
                <p>Air Freight Bazaar is a One Stop Solution for the air cargo industry. It organises multiple task in One Platform for all the stake holders to get their work done faster, easier and smoother way without losing a moment.</p>
                <p>Instead of the age old practice of selling the rates over phone or email, Carriers and Forwarders can now market their RATES directly to all end customers through the SECURED AirFreightBazaar.com. Feeding the rate and other information through our initiative can generate more business and yield to the Carriers and Forwarders without any additional cost.</p>
                <p>Keeping best commercial interests of all stake holders, we operates as a 100% neutral service provider who is working just as an aggregator. Since, we are a responsible and duty bound operator, we keep the neutrality of business and facilitate the information through our platform. This common platform will expedite the work to reach maximum numbers of users to get the greater benefits to the stake holders.</p>
                <p>Management team of AirFreightBazaar.com is well experienced in the field of Export, Import, Airlines, Logistics, Shipping Lines, Transportation and Information Technology. With our expertise, we have made elaborate planning to link End-to-End users. Be it Carriers, Ports, Service Providers, Factories, there is going to be a solution from us.</p>
                <p>&nbsp; </p>
                <p>&nbsp; </p>
              </div>
                    </div>
    </div>
    </section>