<section id="members">
		<div class="container-fluid pd0">
			<div class="col-md-4 col-md-offset-1 ">
				<div class="tab_bg">
					<h2 data-ix="scroll-fade-from-right" style="transition: opacity 350ms, transform 350ms; opacity: 1; transform: translateX(0px) translateY(0px);">THE DRIVERS</h2>
					<h3 data-ix="scroll-fade-from-left" style="transition: opacity 350ms, transform 350ms; opacity: 1; transform: translateX(0px) translateY(0px);">OF BUSINESS.</h3>
					<h2 data-ix="scroll-fade-from-right" style="transition: opacity 350ms, transform 350ms; opacity: 1; transform: translateX(0px) translateY(0px);">THE PIONEERS</h2>
					<h3 data-ix="scroll-fade-from-left" style="transition: opacity 350ms, transform 350ms; opacity: 1; transform: translateX(0px) translateY(0px);">OF EXCELLENCE.</h3>
					<div class="platinum_members">
						<img data-ix="scroll-fade-out" src="assets/images//newPages/platinum_members.png" alt="platinum members" style="transition: opacity 300ms, transform 300ms; opacity: 1; transform: translateX(0px) translateY(0px);">
						<h2 data-ix="scroll-fade-out-2" style="transition: opacity 300ms, transform 300ms; opacity: 1; transform: translateX(0px) translateY(0px);">
							Platinum <br>Members
						</h2>
						<p data-ix="scroll-fade-out-2" style="transition: opacity 300ms, transform 300ms; opacity: 1; transform: translateX(0px) translateY(0px);">Only three designated Platinum
							Members per location and specialty to manage all regional
							shipments.</p>
					</div>
				</div>
			</div>
			<div class="col-md-7 pd0" data-ix="scroll-fade-from-right" style="transition: opacity 350ms, transform 350ms; opacity: 1; transform: translateX(0px) translateY(0px);">
				<div class="bg_for_tab">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bhoechie-tab-menu">
							<div class="list-group">
								<a class="list-group-item text-center  hvr-sweep-to-right active">
									<div class="media">
										<div class="media-left">
											<img src="assets/images//newPages/enhanced_business_opportunity.png" alt="enhanced business opportunity">
										</div>
										<div class="media-body">
											<div class="ico_tabtext">
												<h2>Enhanced Business Opportunity</h2>
											</div>
										</div>
									</div>
								</a> <a class="list-group-item  text-center hvr-sweep-to-right">
									<div class="media">
										<div class="media-left">
											<img src="assets/images//newPages/year_end_membership.png" alt="year end membership">
										</div>
										<div class="media-body">
											<div class="ico_tabtext">Year-end Membership</div>
										</div>
									</div>
								</a> <a class="list-group-item text-center hvr-sweep-to-right">
									<div class="media">
										<div class="media-left">
											<img src="assets/images//newPages/add_on_benefits.png" alt="add on benefits">
										</div>
										<div class="media-body">
											<div class="ico_tabtext">Add-on Benefits</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 bhoechie-tab">

							<div class="bhoechie-tab-content active">
								<div class="tab_02">
									<img src="assets/images//newPages/tab_bg.jpg" alt="Air Freight Rates" class="afb_tab_img">
									<div class="tab_inner">
										<h2 style="margin-top: 0;">Enhanced Business Opportunity</h2>
										<p>Greater scope for growth and
											expansion with only three Platinum Members appointed per
											specialty &amp; location.</p>
										<div class="sign_up_btn">
											<a class="hvr-sweep-to-top" href="platinummember">Get
												Queries</a>
										</div>
									</div>
								</div>
							</div>
							<div class="bhoechie-tab-content">
								<div class="tab_03">
									<img src="assets/images//newPages/tab_bg2.jpg" alt="Air Cargo Rates" class="afb_tab_img">
									<div class="tab_inner">
										<h2 style="margin-top: 0;">Year-end Membership</h2>
										<p>Annual fees are collected
											towards the end of the year, subject to member's satisfaction
											with Air Freight Bazaar's policies and transactions.</p>
										<div class="sign_up_btn">
											<a class="hvr-sweep-to-top" href="platinummember">Get
												Queries </a>
										</div>
									</div>
								</div>
							</div>
							<div class="bhoechie-tab-content">
								<div class="tab_04">
									<img src="assets/images//newPages/tab_bg3.jpg" alt="Freight protection" class="afb_tab_img">
									<div class="tab_inner">
										<h2 style="margin-top: 0;">Add-on Benefits</h2>
										<p>
											- Utilize all features of airfreightbazaar for free <br>-
											Freight protection upto USD 10000 for platinum members.
										</p>
										<div class="sign_up_btn">
											<a class="hvr-sweep-to-top" href="platinummember">Get
												Queries</a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>